{% extends 'adminbase.html' %}
{% block body %}
 	<!-- Begin text carousel intro section -->
     <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(static/img/img2.jpg);">
				
        <div class="container">
            <div class="caption text-center text-white" data-stellar-ratio="0.7">

                
                    <div class="item">
                        <h1>Admin home</h1>
                        <p>Care providers tend to pay close attention to babies’ weight and size during pregnancy.
                            The size of the baby matters in different ways than some may think. Primarily,
                             it’s important to make sure that the baby is growing properly and in a healthy way.</p>
                        <div class="extra-space-l"></div>
                     
                    </div>
                </div>

            </div> <!-- /.caption -->
        </div> <!-- /.container -->

    </section>
    <!-- End text carousel intro section -->
     
  {% endblock %}